<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"
    

    <title>Course Selector</title>
  </head>
  <body>
    
    <div class="container">

        <header>
          <h2>
            <!--<div class="container">
                <div class="glitch" data-text="Course Selector">Course Selector</div>
                <div class="glow">Course Selector</div>
                <p class="subtitle"></p>
                </div>
                <div class="scanlines"></div>-->
              <a href="#"><i class="ion-plane"></i> Course Selector</a>
            </h2>
        
          <nav>
            <ul>
              <!--<li>
                <a href="#" title="Hotels">Hotels</a>
              </li>
              <li>
                <a href="#" title="Flights">Flights</a>
              </li>
              <li>
                <a href="#" title="Tours">Tours</a>
              </li>-->
              <li>
                <a class="btn" href="suggestionForm.html" title="Register / Log In">Suggestions</a>
              </li>
            </ul>
          </nav>
        </header>
      
        <div class="cover">
          <h1>Discover Courses</h1>
          <form  class="flex-form" action="/redirect" method="post">
            <label for="from">
              <i class="ion-location"></i>
            </label>
            <input type="search" placeholder="Compare courses" name="lang">
            <input type="submit" value="Search">
          </form>
          <div id="madeby">
            <span>
              Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a>
            </span>
          </div>
        </div>
      
      </div>

  </body>
</html>